[Desktop Entry]
Name=Maxmize To New Virtual Desktop
Comment=Automatically move fullscreened window to a new virtual desktop.
Icon=preferences-system-windows-script-test

X-KDE-PluginInfo-Author=Aetf
X-KDE-PluginInfo-Email=aetf@unlimitedcodeworks.xyz
X-KDE-PluginInfo-Name=max2NewVirtualDesktop
X-KDE-PluginInfo-Website=https://github.com/Aetf/kwin-maxmize-to-new-desktop
X-KDE-PluginInfo-Version=0.2.4
X-KDE-PluginInfo-License=BSDL
X-KDE-PluginKeyword=max2NewVirtualDesktop
X-KDE-PluginInfo-EnabledByDefault=true

Type=Service

X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js

X-KDE-Library=kwin/effects/configs/kcm_kwin4_genericscripted
X-KDE-ParentComponents=max2NewVirtualDesktop

X-KDE-PluginInfo-Depends=
X-KDE-ServiceTypes=KWin/Script,KCModule
